@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-cinzel {
  font-family: "Cinzel", serif;
}

.boss-container {
  @apply px-4 py-16 mx-auto sm:max-w-xl lg:max-w-screen-lg  2xl:max-w-screen-2xl  lg:py-20 2xl:px-20;
}

.active {
  @apply font-bold lg:text-lg tracking-wide   text-[#EEFF25] bg-transparent uppercase;
}
.default {
  @apply font-bold lg:text-lg px-2 text-white tracking-wide  uppercase ml-4 hover:text-[#EEFF25] hover:bg-transparent;
}

.btn-boss {
  @apply bg-transparent text-xl border-0  border-b-4;
}
.tab-active {
  @apply text-[#BB8506] decoration-4 underline-offset-8 font-bold text-2xl underline decoration-[#BB8506] uppercase;
}
.tab-default {
  @apply font-semibold text-2xl text-[#151515] uppercase;
}
.carousel {
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
